<%- layout('layouts/main')%>
<form action="/signup" method="POST">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="lastName" placeholder="Last Name">
  <input type="text" name="address" placeholder="Address">
  <input type="text" name="telephone" placeholder="Telephone">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">
    SignUp
  </button>
</form>

