<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
  <title>Nodejs Passport Local</title>
</head>
<body>

  <!-- NAVIGATION -->

  
  <% if (!user) { %>
  <a href="/signin">Signin</a>
  <a href="/signup">Signup</a>
  <% } else { %>
  <a href="/logout">Logout</a>
  <a href="/profile">Profile</a>
  <% } %>

  <%if (signinMessage) {%>
    <div class="alert alert-danger">
      <%= signinMessage %>
    </div>
  <% } %>
<div class="container">
  <%if (signupMessage) {%>
    <div class="alert alert-danger">
      <%= signupMessage %>
    </div>
  <% } %>
</div>
  <%- body %>
</body>
</html>
